html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 1em;
}

img {
    max-width: 100%;
}

/* bright / dark mode */
.pintura-editor {
    --color-background: 255, 255, 255;
    --color-foreground: 10, 10, 10;
}

@media (prefers-color-scheme: dark) {
    html {
        color: #fff;
        background: #111;
    }

    .pintura-editor {
        --color-background: 10, 10, 10;
        --color-foreground: 255, 255, 255;
    }
}
